body
{
	background-color: #010101;
}
.top_links
{
	padding: 20px 20px 0px 0px;
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
	font-family: "Roboto Condensed", sans-serif;
	color: white;
}
.top_links img
{
	vertical-align: middle;
	height: 20px;
	width: auto;
}
.top_links p
{
	padding: 10px 0px;
}

.top_links p a
{
	color: white;
}
header
{
	width: 100%;
	color: #FFFFFF;
	font: normal normal 10em "Anton", sans-serif;
	margin: 20px auto;
	text-align: center;
}
section
{
	background-color: #222222;
	margin: 20px 50px;
	padding: 10px 20px;
	overflow: hidden;
}
.headers_section
{
	text-align: center;
	position: sticky;
	z-index: 1;
	top: 0;
	box-shadow: 0 0 16px black;
}
section .headers
{
	color: #FFFFFF;
	text-decoration: none;
	font: normal normal 700 1em "Roboto Condensed", sans-serif;
	padding: 3px;
}
section .headers:hover
{
	color: #FFC200;
	text-decoration: none;
	font: normal normal 700 1em "Roboto Condensed", sans-serif;
	padding: 3px;
}
section h2
{
	border-bottom: 2px solid #FFC200;
	color: #FFFFFF;
	font: normal normal 700 3em "Roboto Condensed", sans-serif;
	margin-bottom: 10px;
}
section div
{
	float: left;
	width: 16.666%;
	text-align: center;
	padding-bottom: 20px;
}
section div img
{
	width: 95%;
	height: auto;
}
section div h3
{
	color: #FFFFFF;
	font: normal normal 700 1.5em "Roboto Condensed", sans-serif;
	padding: 4px 0px 0px 15px;
	float: left;
	width: 80%;
	text-align: left;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
}
.vehicles
{
	float: right;
	margin-right: 2%;
	border-radius: 15px;
	text-align: center;
	background-color: #FFC200;
	width: 18%;
	box-sizing: border-box;
	margin-top: 4px;
}
.vehicles:hover
{
	background-color: #FFD446;
}
.vehicles img 
{
	width: 25px;
	vertical-align: middle;
	filter: brightness(0);
}

#modal_background
{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.8);
}
.modal_content
{
	background-color: #222222;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 90%;
	overflow-y: hidden;
	border: 2px solid #FFC200;
	display: flex;
	flex-direction: column;
}
.full_height
{
	flex-grow: 1;
}
.modal_content h2
{
	border-bottom: 2px solid #FFC200;
	color: #FFFFFF;
	font: normal normal 700 3em "Roboto Condensed", sans-serif;
	padding: 10px 0px;
	text-align: center;
}
.modal_side_panel
{
	width: 25%;
	height: 100%;
	float: left;
	overflow: hidden;
	box-sizing: border-box;

	padding: 10px 20px;
}
.modal_center_panel
{
	border-left: 2px solid #FFC200;
	border-right: 2px solid #FFC200;
	width: 50%;
	height: 100%;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
}
.modal_center_panel_top
{
	width: 100%;
	height: 10%;
	float: left;
	color: #FFFFFF;
	padding: 24px 0px;
	box-sizing: border-box;
}
.modal_center_panel_top div
{
	text-align: center;
	display: block;
	width: 33%;
	float: left;
}
.modal_label
{
	display: inline;
	font: normal normal 700 1em "Roboto Condensed", sans-serif;
}
.modal_value
{
	display: inline;
	font: normal normal 300 1.5em "Roboto Condensed", sans-serif;
}
.modal_center_panel_bottom
{
	width: 100%;
	height: 87%;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	align-content: center;
}
.modal_flag
{
	display: inline-block;
	max-height: 3em;
}
.modal_team_name
{
	display: inline-block;
	color: #FFFFFF;
	font: normal normal 700 3em "Roboto Condensed", sans-serif;
	padding-left: 10px;
	vertical-align: super;
}
.modal_team_tickets
{
	display: inline-block;
	color: #FFFFFF;
	font: normal normal 700 2em "Roboto Condensed", sans-serif;
	padding-left: 10px;
	vertical-align: super;
}
.modal_team_vehicles
{
	overflow: visible;
	border-top: 1px solid white;
	padding-top: 5px;
}
.modal_content li
{
	margin-top: 2px;
}
.modal_content li p
{
	display: inline-block;
	text-align: right;
	min-width: 1em;
	color: #FFFFFF;
	font: normal normal 300 1.5em "Roboto Condensed", sans-serif;
}
.modal_content li img
{
	max-height: 2em;
	display: inline-block;
	vertical-align: -50%;
}
.modal_content li h6
{
	display: inline-block;
	color: #FFFFFF;
	font: normal normal 300 1.5em "Roboto Condensed", sans-serif;
	padding-left: 5px;
	padding-bottom: 5px;
}
.modal_content li small
{
	color: #FFFFFF;
	font: normal normal 300 0.8em "Roboto Condensed", sans-serif;
	padding-left: 10px;
}

