body
{
	background-color: #010101;
}
header
{
	align-content: center;
	width: 100%;
}
h1
{
	color: #FFFFFF;
	font-family: "Anton", sans-serif;
	font-size: 10em;
	margin: 100px auto;
	text-align: center;
}
h2
{
	border-bottom: 2px solid #FFC200;
	color: #FFFFFF;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 3em;
	font-weight: 400;
	margin: 20px;
}
h3
{
	color: #FFFFFF;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 1.5em;
	padding: 2px 0;
	text-align: center;
}
i
{
	color: #FFFFFF;
	display: block !important;
	text-align: center;
}
section
{
	background-color: #222222;
	margin: 20px auto;
	overflow: hidden;
	width: 90%;
}
section div
{
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	float: left;
	width: 25%;
	overflow: hidden;
	padding: 20px;
}
img
{
	max-width: 100%;
	height: auto;
}
.hidden
{
	display: none;
}
.material-icons.md-48
{
	font-size: 48px;
}
#version
{
	box-sizing: border-box;
	color: white;
	padding: 20px;
	position: absolute;
	top: 0;
	right: 0;
}
a
{
	color: white;
}
section div .tooltiptext
{
	visibility: hidden;
	width: 75%;
	background-color: black;
	color: #FFC200;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
}
section div:hover .tooltiptext
{
	visibility: visible;
}
p
{
	font-family: "Roboto Condensed", sans-serif;
	text-align: right;
}