body {
    background-color: #010101;
    color: #ffffff;
}

a {
    color: #ffffff;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

.top_links_left {
    padding: 80px 0px 0px 80px;
    position: absolute;
}

.top_links_left img {
    width: 100px;
}

.top_links {
    padding: 20px 20px 0px 0px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    font-family: "Roboto Condensed", sans-serif;
}

.top_links img {
    vertical-align: middle;
    height: 20px;
    width: auto;
}

.top_links p {
    padding: 10px 0px;
}

header {
    width: 100%;
    font: normal normal 10rem "Anton", sans-serif;
    margin: 20px auto;
    text-align: center;
}

section {
    background-color: #222222;
    margin: 20px 50px;
    padding: 10px 20px;
    overflow: hidden;
}

.headers_section {
    text-align: center;
    position: sticky;
    z-index: 1;
    top: 0;
    box-shadow: 0 0 16px black;
}

.headers {
    text-decoration: none;
    font: normal normal 700 1em "Roboto Condensed", sans-serif;
    padding: 3px;
}

.headers:hover {
    color: #ffc200;
    text-decoration: none;
    font: normal normal 700 1em "Roboto Condensed", sans-serif;
    padding: 3px;
}

section h2 {
    border-bottom: 2px solid #ffc200;
    font: normal normal 700 3em "Roboto Condensed", sans-serif;
    margin-bottom: 10px;
}

.map-grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-gap: 8px;
}

.map-grid div a
{
    position: relative;
    display: flex;
    justify-content: center;
}

.map-grid div a div
{
    position: absolute;
    bottom: 0px;
}

.flags
{
}

.flags img
{
    width: 25%;
}

.flags img:first-child
{
    float: left;
}

.flags img:last-child
{
    float: right;
}

section div img {
    width: 100%;
    height: auto;
}

section div h3 {
    font: normal normal 700 1.5em "Roboto Condensed", sans-serif;
    padding: 4px 0px 0px 15px;
    float: left;
    width: 80%;
    text-align: left;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
}

.bug {
    display: table;
    text-align: center;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff0000;
    font: normal normal 700 4em "Roboto Condensed", sans-serif;
}

.vehicles {
    float: right;
    margin-right: 2%;
    border-radius: 15px;
    text-align: center;
    background-color: #ffc200;
    width: 18%;
    box-sizing: border-box;
    margin-top: 4px;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;
}

.vehicles:hover {
    background-color: #ffd446;
}

.vehicles img {
    width: 25px;
    vertical-align: middle;
    filter: brightness(0);
}

.modal_background {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #000000cc;
    backdrop-filter: blur(2px);
}

.modal_content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 90%;
    width: 90%;
    transform: translate(-50%, -50%);
    overflow-y: hidden;
    background-color: #000000cc;
    border: 2px solid #ffc200;
}

.modal_top {
    padding: 10px 0px;
    text-align: center;
    border-bottom: 2px solid #ffc200;
}

.modal_top_sides {
    width: 20%;
    float: left;
}

.copy_to_clipboard {

}

.copy_to_clipboard input {
    width: 55%;
    margin: 3px 0px;
    border: none;
    background-color: #444444;
    color: #FFFFFF;
}

.copy_to_clipboard button {
    width: 39%;
    margin: 3px 0px;
    /* border: none; */
}

.modal_squadlanes_link {
    margin-top: 20px;
    text-decoration: none;
    font: normal normal 300 1em "Roboto Condensed", sans-serif;
}

.modal_squadlanes_name {
    text-decoration: underline;
}

.modal_top_center {
    font: normal normal 700 3em "Roboto Condensed", sans-serif;
    width: 60%;
    float: left;
}

.modal_team_name {
    display: inline-block;
    font: normal normal 700 3em "Roboto Condensed", sans-serif;
    padding-left: 10px;
    vertical-align: super;
}

.modal_bottom {
    flex-grow: 1;
}

.modal_side {
    width: 33%;
    height: 100%;
    float: left;
    overflow: hidden;
    box-sizing: border-box;

    padding: 10px 20px;
}

.modal_vertical_top {
    border-bottom: 1px solid white;
    overflow: visible;
    width: 100%;
    height: 54px;
}

.modal_vertical_bottom {
    overflow: visible;
    padding-top: 5px;
    margin-top: 5px;
    width: 100%;
    height: 76%;
    float: left;
    overflow: visible;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-content: center;
}

.modal_center {
    border-left: 2px solid #ffc200;
    border-right: 2px solid #ffc200;
    width: 34%;
    height: 100%;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 20px;
}

.modal_vertical_top div {
    text-align: center;
    display: block;
    width: 33%;
    float: left;
    margin-top: 10px;
}

.modal_label {
    display: inline;
    font: normal normal 700 0.75em "Roboto Condensed", sans-serif;
}

.modal_value {
    display: inline;
    font: normal normal 300 1.25em "Roboto Condensed", sans-serif;
}

.modal_team_flag {
    display: inline-block;
    max-height: 3em;
}

.modal_team_tickets {
    display: inline-block;
    font: normal normal 700 2em "Roboto Condensed", sans-serif;
    padding-left: 10px;
    vertical-align: super;
}

.modal_content li {
    margin-top: 2px;
}

.modal_content li p {
    display: inline-block;
    text-align: right;
    min-width: 1em;
    font: normal normal 300 1.5em "Roboto Condensed", sans-serif;
}

.modal_content li img {
    max-height: 2em;
    display: inline-block;
    vertical-align: -50%;
}

.modal_content li h6 {
    display: inline-block;
    font: normal normal 300 1.5em "Roboto Condensed", sans-serif;
    padding-left: 5px;
    padding-bottom: 5px;
}

.modal_content li small {
    font: normal normal 300 0.8em "Roboto Condensed", sans-serif;
    padding-left: 10px;
}

p {
    font-family: "Roboto Condensed", sans-serif;
}

@media screen and (max-width: 1000px) {
    header {
        margin-top: 96px;
        font-size: 4rem;
    }

    .map-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

}

@media screen and (max-width: 600px) {
    .map-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (min-width: 3000px) {
    .map-grid {
        grid-template-columns: repeat(10, minmax(0, 1fr));
    }
}